[run]
branch = True
source =
    stable_yield_lab

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 
    @abstractmethod
    @overload
    raise NotImplementedError
show_missing = True
